:root {
    --kaft-kleur: hsl(var(--kaft-tint), var(--kaft-saturatie), var(--kaft-helder));
    --kaft-kleur2: hsl(var(--kaft-tint), var(--kaft-saturatie), calc(var(--kaft-helder) - 10%));
    --kaft-donker: hsl(var(--kaft-tint), var(--kaft-saturatie), calc(var(--kaft-helder) - 15%));
    --kaft-rug: hsl(var(--kaft-tint), var(--kaft-saturatie), calc(var(--kaft-helder) - 25%));
}

@keyframes inkblot {
    from {
        text-shadow: 2px 2px 0px, -2px -2px 0px;
        opacity: 0.2;
    }

    to {
        opacity: 1.0;
    }
}
@keyframes turn-page {
    from {
        transform: rotateY(0deg);
    }
    to {
        transform: rotateY(-180deg);
    }
}
html {
    text-size-adjust: 100%;
    margin: 0;
    height: 100%;
}
body {
    background: black;
    font-family: 'Vollkorn', serif;
    margin: 0;
    height: 100%;
}
table, input, textarea, button {
    font-family: inherit;
}
.book {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.page-locator {
    margin: 0 auto;
    max-width: 870px;
    height: 100%;
    background: linear-gradient(to right, #a8a6a3 0%,#dddad7 3%,#efebe6 10%,#e0dad2 66%,#dbc8b3 99%);
}
.page-stack {
    position: absolute;
    top: 0;
    left: 50%;

    max-width: 50%;
    width: 460px;
    height: 100%;
    z-index: -1;
    background: linear-gradient(to right,
        var(--kaft-kleur2) 0%,
        var(--kaft-kleur2) 99%,
        var(--kaft-donker) 100%
    )
}
.page-stack::after {
    content: ' ';
    z-index: -1;
    display: block;
    width: 100%;
    height: 100%;
    transform: translateX(-10px);
    background: repeating-linear-gradient(90deg, #a8a6a3 2px, #a8a6a3 2px, #dbc8b3 5px, #dbc8b3 5px);
}
.kaft {
    width: 100%;
    max-width: 870px;
    height: 100%;
    position: absolute;
    z-index: 2;
    transform-origin: top left;
    transition: transform 4s ease-in-out 1s;
    transform: rotateY(0deg);
    perspective: 100px;
    transform-style: preserve-3d;
    background: linear-gradient(to right,
        var(--kaft-rug) 0%,
        var(--kaft-kleur) 2%,
        var(--kaft-kleur) 5%,
        var(--kaft-kleur2) 6%,
        var(--kaft-kleur2) 7%,
        var(--kaft-donker) 8%,
        var(--kaft-kleur) 9%,
        var(--kaft-kleur) 99%,
        var(--kaft-kleur2) 100%
    );
    box-shadow: rgba(0,0,0,0.2) 7px 0px 2px;
    backface-visibility: hidden;
}
.binnen-pagina {
    width: 100%;
    max-width: 870px;
    height: 100%;
    position: absolute;
    z-index: -1;
    transform-origin: top left;
    transition: transform 4s ease-in-out 1s;
    transform: rotateY(0deg);
    perspective: 100px;
    transform-style: preserve-3d;
    background: linear-gradient(to right, #a8a6a3 0%,#dddad7 3%,#efebe6 10%,#e0dad2 66%,#dbc8b3 99%);
}
.kaft h1 {
    text-align: center;
    color: gold;
    text-shadow: var(--kaft-kleur2) 1px -1px;
}
.kaft p {
    text-align: center;
    color: gold;
}
.kaft form {
    opacity: 1.0;
    transition: opacity 1s;
}
.kaft form p {
    display: none;
}
.kaft.open {
    transform: rotateY(-180deg);
}
.kaft.open + .binnen-pagina {
    transform: rotateY(-180deg);
}
.kaft.open form {
    opacity: 0;
}

.page {
    max-width: 830px;
    width: calc(100% - 40px);
    height: calc(100% - 40px);
    padding: 20px 10px 20px 30px;
    overflow-y: scroll;
    background: linear-gradient(to right, #a8a6a3 0%,#dddad7 3%,#efebe6 10%,#e0dad2 66%,#dbc8b3 99%);
    transform-origin: top left;
    transform: rotateY(0deg);
    perspective: 100px;
    transform-style: preserve-3d;
    position: absolute;
    z-index: 1;
    backface-visibility: hidden;
}
.page.turn {
    animation-duration: 0.5s;
    animation-timing-function: ease-in;
    animation-name: turn-page;
    animation-fill-mode: forwards;
    overflow: hidden;
}
.page + .achter-pagina {
    max-width: 870px;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    transform-origin: top left;
    transform: rotateY(0deg);
    perspective: 100px;
    transform-style: preserve-3d;
    background: linear-gradient(to right, #a8a6a3 0%,#dddad7 3%,#efebe6 10%,#e0dad2 66%,#dbc8b3 99%);
}
.page.turn + .achter-pagina {
    animation-duration: 0.5s;
    animation-timing-function: ease-in;
    animation-name: turn-page;
    animation-fill-mode: forwards;
}
#screen span {
    animation-duration: 0.7s;
    animation-name: inkblot;
}
.actie a {
    text-decoration: none;
}
#screen .actie {
    vertical-align: 50%;
    min-height: 32px;
    display: flex;
    align-items: center;
    margin-top: 1em;
}
#screen .actie + .actie {
    margin-top: 0.5em;
}
#width {
    white-space: nowrap;
    display: inline-block;
    pointer-events: none;
    user-select: none;
}
#screen { transform-origin: top left; }
.color0 { color: #000000; }
.color1 { color: #0414a7; }
.color2 { color: #18a81b; }
.color3 { color: #1aaaa9; }
.color4 { color: #a8060e; }
.color5 { color: #a817a8; }
.color6 { color: #a85514; }
.color7 { color: #aaaaaa; }
.color8 { color: #555555; }
.color9 { color: #565cfb; }
.color10 { color: #5efd60; }
.color11 { color: #5ffffe; }
.color12 { color: #fc575a; }
.color13 { color: #fd5dfc; }
.color14 { color: #fffd64; }
.color15 { color: #ffffff; }
input {
    background: brown;
    font-size: 1em;
    padding: 0.2em;
    line-height: 2em;
    border: 2px solid black;
    color: gold;
    border-radius: 0.4em;
    transition: border-color 0.5s;
}
input::placeholder {
    color: rgba(0,0,0,0.6);
}
input:focus {
    outline: none;
    border-color: gold;
}
#welkom::before {
    content: ' ';
    display: block;
    background: lime;

}
#welkom {
    position: absolute;
    top: calc(50% - 3em);
    right: 0em;
    padding: 1em 1em 1em 2em;
    background: brown;
    border-top-left-radius: 1.5em;
    border-bottom-left-radius: 1.5em;
    box-shadow: rgba(0, 0, 0, 0.3) -2px 3px 2px, brown 5px 1px 6px, #832121 28px 1px 1px;
    border-width: 3px;
    border-color: rgba(0,0,0,0.2);
    border-style: dashed none dashed dashed;
}
#welkom p { text-align: left; }
.verberg { display: none; }
.menu {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 10;
}
button {
    font-size: 1em;
    line-height: 1.5em;
    background-color: darkred;
    color: gold;
    padding: 0.5em;
    border-radius: 0.5em;
    margin-left: 0.5em;
    border-color: black;
    box-shadow: rgba(0, 0, 0, 0.7) 0px 0px 8px;
    transition: box-shadow 0.2s;
}
button:hover {
    background-color: #881717;
}
button:focus {
    outline: none;
    box-shadow: rgba(0, 0, 0, 0.7) 0px 0px 2px;
}
